@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
:root { font-family: 'Inter', system-ui, sans-serif; line-height: 1.5; color-scheme: dark; background-color: #0f172a; color: rgba(255, 255, 255, 0.87); }
body { margin: 0; display: flex; place-items: center; min-width: 320px; min-height: 100vh; }
#root { width: 100%; max-width: 500px; margin: 0 auto; }
button { cursor: pointer; transition: all 0.2s; }
button:active { transform: scale(0.95); }